@model VIMOD.Domain.Models.Certificado
@{
    ViewData["Title"] = "Eliminar Certificado";
}

<h1>¿Estás seguro de eliminar este certificado?</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.FechaEmision)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.FechaEmision)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.RutaArchivo)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.RutaArchivo)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.IdCurso)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.IdCurso)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.IdUsuario)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.IdUsuario)</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCertificado" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
