@model IEnumerable<VIMOD.Domain.Models.Curso>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioDescuento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.URLImagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocenteAsignado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioDescuento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.URLImagen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocenteAsignado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCurso">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCurso">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCurso">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
